<a href="https://medium.com/@kasiabiernat/create-a-plugin-driven-application-using-the-power-of-angular-injection-tokens-b50d40273eee" target="_blank">doc</a>

<br><br><br>

container<br>
-------------------------------------------------------------------------<br>
<br>
      plugin 1<br>
     ................................<br>
     <br>
     ................................<br>
     <br>
     plugin 2<br>
     ................................<br>
     <br>
     ................................<br>

     <br>
     plugin 3<br>
     ................................<br>
     <br>
     ................................<br>
     <br>
-------------------------------------------------------------------------<br>
<br>
<br>
<br>
<hr>

<h1>Résultat</h1>


<app-plugin-container></app-plugin-container>
