<nav>
  <ul>
    <li><a [routerLink]="['/comp1']">aller à la page 1</a></li>
    <li><a [routerLink]="['/comp2']">aller à la page 2</a></li>
    <li><a [routerLink]="['/comp3']">aller à la page 3</a></li>
    <li><a [routerLink]="['/comp4']">aller à la page 4</a></li>
    <li><a [routerLink]="['/page5']">aller à la page 5</a></li>
    <li><a [routerLink]="['/page6']">aller à la page 6</a></li>
    <li><a [routerLink]="['/page7']">aller à la page 7</a></li>
    <li><a [routerLink]="['/page8']">aller à la page 8</a></li>
  </ul>
</nav>

<hr>

<router-outlet></router-outlet>


