<router-outlet />

<hr>

<h1>typescript</h1>

<h2>Object.entries()</h2>
<h2>Object.fromEntries()</h2>
<h2>Array.of()</h2>
<h2>Array.from()</h2>
<h2>.at()</h2>
<h2>flat()</h2>

<h1>Angular</h1>

<h2>multiple subscription</h2>
<h2>vscode extensions</h2>

<h2>input signal</h2>
<p>faire une opération sur une entrée Input()</p>
<app-even [price2]="33.30" [price]="22.50" [counter]="10"></app-even>

<h2>input signal route - données dans data</h2>
<a [routerLink]="['/pokemons/pidgeotto']">pidgeotto</a>

<h2>route classic - /:id</h2>
<a [routerLink]="['/classic/29']">go classic to /classic/29</a>

<h2>route signal - /:id</h2>
<p>...</p>

<h2>signal 1</h2>
<a [routerLink]="['/signal1']">signal 1</a>

